@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{
	margin:0;
	padding:0; 
}
a{
	text-decoration:none;
}
ul,ol,li{
	list-style: none;
}
img{
	border:0;
	display:block;
}
body{
	font-family:"微软雅黑";
}
b,strong{
	font-weight:100;
}
i,em{
	font-style:normal;
}
h1,h2,h3,h4,h5,h6{
	font-size:16px;
	font-weight:100;
}
.clearfix:after{
	content:".";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility: hidden;
}